@use 'util' as *;
.information__clearBtn:is(:hover, :focus){
    color: var(--text-color);
    cursor: pointer;
}
.mortgage__div:hover ,.mortgage__div:focus-within{
  border: rem(2) solid var(--text-color);
}
 
.mortgage__typeDiv:hover,.mortgage__typeDiv:focus-within {
  border: rem(2) solid var(--lime); 
  background-color: var(--lime-opacity);
}
.mortgage__calculateBtn:is(:hover,:focus){
    background-color: var(--lime-opacity);
}