@use 'util' as *;
.information__clearBtn:is(:hover, :focus){
    color: var(--text-color);
    cursor: pointer;
}
.mortgage__div:hover ,.mortgage__div:focus-within{
  border-color: var(--text-color);
}
 
.mortgage__typeDiv:hover,.mortgage__typeDiv:focus-within {
  border-color: var(--lime); /* Or any highlight color */
}
.mortgage__calculateBtn:is(:hover,:focus){
    background-color: var(--lime-opacity);
}